api/.idea
api/.idea/workspace.xml
api/.idea/modules.xml
api/.idea/api.iml
api/.idea/.gitignore

worker/.idea
worker/.idea/workspace.xml
worker/.idea/modules.xml
worker/.idea/worker.iml
worker/.idea/.gitignore

grpc-service/.idea
grpc-service/.idea/workspace.xml
grpc-service/.idea/modules.xml
grpc-service/.idea/grpc-service.iml
grpc-service/.idea/.gitignore


.idea
.idea/workspace.xml
.idea/modules.xml
.idea/.gitignore
.idea/project-root.iml
.idea/api.iml